<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Tickets')}"></head>

<body>
    <header>
        <nav th:replace="~{fragments/navbar :: navbar('Ticket Platform')}"></nav>
    </header>

    <main>
        <div class="containerhomepagecenter">
            <h1><strong>Tickets</strong></h1>

            <div class="search-box">
                <form action="#" th:action="@{/tickets}" method="get">
                    <select name="status">
                        <option value="TODO">To Do</option>
                        <option value="IN_PROGRESS">In Progress</option>
                        <option value="CLOSED">Closed</option>

                    </select>

                    <input type="text" name="search" placeholder="Search by title..." th:value="${search}" />

                    <a th:href="@{/tickets/create}" class="save-btn">Create new ticket</a>
                </form>
            </div>

            <section class="tickets">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Operator</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ticket : ${tickets}" th:object="${ticket}">
                            <td>[[*{id}]]</td>
                            <td>[[*{title}]]</td>
                            <td th:text="${ticket.category != null} ? ${ticket.category.name} : 'None'"></td>
                            <td class="badge" th:switch="${ticket.status}">
                                <span th:case="'todo'" class="badge todo">[[${ticket.status}]]</span>
                                <span th:case="'inprogress'" class="badge inprogress">[[${ticket.status}]]</span>
                                <span th:case="'closed'" class="badge closed">[[${ticket.status}]]</span>
                            </td>
                            <td th:text="${ticket.operator != null} ? ${ticket.operator.fullName} : 'None'"></td>
                            <td>
                                <section class="buttonsbox">
                                    <!-- ! DETAILS -->
                                    <a class="buttons-box-icons" th:href="@{/tickets/{id}(id=${ticket.id})}">
                                        <img src="https://www.svgrepo.com/show/2140/info-round-button.svg"
                                            alt="Show info " width="18" />
                                    </a>

                                    <!-- ! EDIT -->
                                    <a class="buttons-box-icons" th:href="@{/tickets/edit/{id}(id=${ticket.id})}">
                                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/editing-user-action/edit-icon.png"
                                            alt="Click to delete" width="18" />
                                    </a>

                                    <!-- ! DELETE opens modal -->
                                    <button class="buttons-box-icons" data-bs-toggle="modal"
                                        th:data-bs-target="'#delete-modal-' + ${ticket.id}">
                                        <img src="https://www.svgrepo.com/show/31676/delete-button.svg"
                                            alt="Click to delete" width="17" />
                                    </button>

                                    <!-- ! MODAL(DELETE) -->
                                    <div class="modal fade" th:id="'delete-modal-' + ${ticket.id}"
                                        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                                        Deleting <strong>"[[${ticket.title}]]"</strong>
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        Are you sure to eliminate this ticket?
                                                        <strong>"[[${ticket.title}]]"</strong> (ID:
                                                        [[${ticket.id}]])
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                        <form th:action="@{/tickets/delete/{id}(id=${ticket.id})}" method="post" class="d-inline">
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- ! NOTE (opens modal) -->
                                    <button class="buttons-box-icons" type="button" data-bs-toggle="modal"
                                        th:data-bs-target="'#note-modal-' + ${ticket.id}">
                                        <img src="https://www.svgrepo.com/show/29506/round-add-button.svg"
                                            alt="Click to add note" width="17" />
                                    </button>

                                    <!-- ! MODAL(NOTES)  -->
                                    <div class="modal fade" th:id="'note-modal-' + ${ticket.id}"
                                        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                        aria-labelledby="noteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Add Note for <strong>Ticket</strong>
                                                        id:<strong>[[${ticket.id}]]</strong></h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form th:action="@{/tickets/{id}/note(id=${ticket.id})}"
                                                        method="post">
                                                        <div class="mb-3">
                                                            <label for="note-textarea" class="form-label">Your
                                                                Note</label>
                                                            <textarea id="note-textarea" name="note"
                                                                class="form-control"
                                                                placeholder="Write your note here..."
                                                                rows="4"></textarea>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Cancel</button>
                                                            <button type="submit" class="btn btn-primary">Save
                                                                Note</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- ! MODAL(DELETE) -->
                                        <div class="modal fade" th:id="'delete-modal-' + ${ticket.id}"
                                            data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                                            Deleting <strong>"[[${ticket.title}]]"</strong>
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            Are you sure to eliminate this ticket?
                                                            <strong>"[[${ticket.title}]]"</strong> (ID:
                                                            [[${ticket.id}]])
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <form th:action="@{/tickets/{id}/delete(id=${ticket.id})}"
                                                            method="post" class="d-inline">
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </section>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h2 class="text-center text-primary" th:unless="${tickets.size() > 0}">
                    There are no tickets available at this moment
                </h2>
            </section>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer :: scripts}"></th:block>
</body>

</html>