<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Tickets')}"></head>

<body>
    <header>
        <nav th:replace="~{fragments/navbar :: navbar('Ticket Platform')}"></nav>
    </header>

    <main>
        <div class="containerhomepagecenter">
            <h1><strong>Tickets</strong></h1>

            <div class="search-box">
                <label>Search <strong>Tickets</strong>:</label><br>
                <input type="text" placeholder="Search for Title">
                <input type="text" placeholder="Category">
                <select>
                    <option>Status</option>
                    <option>To do</option>
                    <option>In Progress</option>
                    <option>Completed</option>
                </select>
                <button>Create New Ticket</button>
            </div>

            <section class="tickets">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Operator</th>
                            <th>Notes</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ticket : ${tickets}" th:object="${ticket}">
                            <td>[[*{id}]]</td>
                            <td>[[*{title}]]</td>
                            <td>[[*{category}]]</td>
                            <td>[[*{status}]]</td>
                            <td>[[*{operator}]]</td>
                            <td>[[*{notes}]]</td>
                            <td>
                                <button class="view-btn">👁️</button>
                                <button class="edit-btn">📋</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer :: scripts}"></th:block>
</body>

</html>
