<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Tickets')}"></head>

<body>
    <header>
        <nav th:replace="~{fragments/navbar :: navbar('Ticket Platform')}"></nav>
    </header>

    <main>
        <div class="container mt-4">
            <h1><strong>Tickets</strong></h1>

            <div class="search-box index">
                <!-- ! INSERT STATUS'S TYPE OF TICKET -->
                <form action="#" th:action="@{/tickets}" method="get">
                    <!-- ! SEARCH A TICKET BY TITLE -->
                    <input type="text" name="search" placeholder="Search by title..." th:value="${search}" />
                    <button type="submit" class="search-btn">Search</button>
                    <!-- ! CREATE NEW TICKET -->
                    <a th:href="@{/tickets/create}" class="save-btn">Create new ticket</a>
                </form>
            </div>

            <section class="tickets">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Creation Date</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Operator</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ticket : ${tickets}" th:object="${ticket}">
                            <td>[[*{id}]]</td>
                            <td>[[*{title}]]</td>
                            <td><input type="text" th:value="${#temporals.format(ticket.creationDate, 'dd/MM/yyyy HH:mm')}" disabled /></td>
                            <td th:text="${ticket.category != null} ? ${ticket.category.name} : 'None'"></td>
                            <td class="#" th:switch="${ticket.status}">
                                <span th:case="todo" class="badge todo">To Do</span>
                                <span th:case="inprogress" class="badge inprogress">In Progress</span>
                                <span th:case="closed" class="badge closed">Closed</span>
                            </td>
                            <td th:text="${ticket.operator != null} ? ${ticket.operator.fullName} : 'None'"></td>
                            <td>
                                <section class="buttonsbox">
                                    <!-- ! DETAILS -->
                                    <a class="buttons-box-icons" th:href="@{/tickets/{id}(id=${ticket.id})}">
                                        <img src="https://www.svgrepo.com/show/2140/info-round-button.svg"
                                            alt="Show info " width="18" />
                                    </a>

                                    <!-- ! EDIT -->
                                    <a class="buttons-box-icons" th:href="@{/tickets/edit/{id}(id=${ticket.id})}">
                                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/editing-user-action/edit-icon.png"
                                            alt="Click to delete" width="18" />
                                    </a>

                                    <!-- ! DELETE opens modal -->
                                    <button class="buttons-box-icons" data-bs-toggle="modal"
                                        th:data-bs-target="'#delete-modal-' + ${ticket.id}">
                                        <img src="https://www.svgrepo.com/show/31676/delete-button.svg"
                                            alt="Click to delete" width="17" />
                                    </button>

                                    <!-- ! MODAL(DELETE) -->
                                    <div class="modal fade" th:id="'delete-modal-' + ${ticket.id}"
                                        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                                        Deleting <strong>"[[${ticket.title}]]"</strong>
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        Are you sure to eliminate this ticket?
                                                        <strong>"[[${ticket.title}]]"</strong> (ID:
                                                        [[${ticket.id}]])
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <form th:action="@{/tickets/delete/{id}(id=${ticket.id})}"
                                                        method="post" class="d-inline">
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-2">
                    <a th:href="@{/}" class="btn btn-secondary back-btn">Back</a>
                </div>
                <h2 class="text-center text-primary" th:unless="${tickets.size() > 0}">
                    There are no tickets available at this moment
                </h2>
            </section>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    <th:block th:replace="~{fragments/footer :: scripts}"></th:block>
</body>

</html>