<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Tickets')}"></head>

<body>
    <header>
        <nav th:replace="~{fragments/navbar :: navbar('Ticket Platform')}"></nav>
    </header>

    <main>
        <div class="containerhomepagecentershow">

            <h1 class="mb-4 mt-2"><strong>Ticket Details</strong></h1>

            <div class="d-flex justify-content-center">
                <div class="card shadow p-4">

                    <div class="d-flex flex-wrap gap-5">

                        <!-- ! TITLE -->
                        <div class="d-flex flex-column">
                            <h5 class="fw-bold">Title:</h5>
                            <strong class="ticketshowtitle-btn"><span th:text="${ticket.title}"></span></strong>
                        </div>

                        <!-- ! CATEGORY -->
                        <div class="d-flex flex-column">
                            <h5 class="fw-bold">Category:</h5>
                            <a class="category-btn"
                                th:text="${ticket.category != null} ? ${ticket.category.name} : 'None'"></a>
                        </div>

                        <!-- ! OPERATOR -->
                        <div class="d-flex flex-column">
                            <h5 class="fw-bold">Operator:</h5>
                            <a class="save-btn" th:text="${ticket.operator.fullName}"
                                th:href="@{/operators/{id}(id=${ticket.operator.id})}"></a>
                        </div>

                        <!-- ! STATUS -->
                        <div class="d-flex flex-column">
                            <h5 class="fw-bold">Status:</h5>
                            <span th:switch="${ticket.status}">
                                <span th:case="todo" class="badge todo" style="font-size:17px;">To Do</span>
                                <span th:case="inprogress" class="badge inprogress" style="font-size:17px">In
                                    Progress</span>
                                <span th:case="closed" class="badge closed" style="font-size:17px">Closed</span>
                            </span>
                        </div>



                    </div>
                    <div class="container mt-5">
                        <h1><strong>Note's:</strong></h1>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Author</th>
                                    <th>Creation Date</th>
                                    <th>Text</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="note : ${notes}">
                                    <td th:text="${note.id}">Id Author</td>
                                    <td th:text="${note.author.fullName}">Author</td>
                                    <td th:text="${#temporals.format(note.creationDate, 'dd/MM/yyyy HH:mm')}">Creation
                                        Date</td>
                                    <td th:text="${note.text}">Note Text</td>


                                </tr>
                            </tbody>
                        </table>
                        <h5 class="text-center text-primary" th:unless="${notes.size() > 0}">
                            There are no notes available at this moment
                        </h5>
                        <a th:href="@{/tickets/{id}/notes/create(id=${ticket.id})}" class="search-btn mt-2">
                            Add New Note
                        </a>
                        <a th:href="@{/tickets/{id}/notes(id=${ticket.id})}" class="noteslist-btn">View List</a>

                    </div>
                </div>
            </div>
            <!-- ! BACK IN LIST -->
            <div class="mt-5">
                <a th:href="@{/tickets}" class="btn btn-secondary back-btn">Back</a>
            </div>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    <th:block th:replace="~{fragments/footer :: scripts}"></th:block>
</body>

</html>