<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Tickets')}"></head>

<body>
    <header>
        <nav th:replace="~{fragments/navbar :: navbar('Ticket Platform')}"></nav>
    </header>

    <main>
        <div class="containerhomepagecentershow">

            <h1 class="mb-4"><strong>Ticket Details</strong></h1>

            <div class="d-flex justify-content-center align-items-start">
                <div class="card shadow p-4">

                    <div class="d-flex flex-wrap gap-5">

                        <!-- ! TITLE -->
                        <div class="d-flex flex-column">
                            <h5 class="fw-bold">Title:</h5>
                            <strong class="ticketshowtitle-btn"><span th:text="${ticket.title}"></span></strong>
                        </div>

                        <!-- ! OPERATOR -->
                        <div class="d-flex flex-column">
                            <h5 class="fw-bold">Operator:</h5>
                            <a class="save-btn" th:text="${ticket.operator.fullName}"
                                th:href="@{/operators/{id}(id=${ticket.operator.id})}"></a>
                        </div>

                        <!-- ! STATUS -->
                        <div class="d-flex flex-column">
                            <h5 class="fw-bold">Status:</h5>
                            <span th:switch="${ticket.status}">
                                <span th:case="todo" class="badge todo" style="font-size:17px;">To Do</span>
                                <span th:case="inprogress" class="badge inprogress" style="font-size:17px">In
                                    Progress</span>
                                <span th:case="closed" class="badge closed" style="font-size:17px">Closed</span>
                            </span>
                        </div>
                        <!-- ! CREATION DATE -->

                        <!-- ! NOTES -->
                        <div class="d-flex flex-column">
                            <h5 class="fw-bold">Notes:</h5>
                            <a th:href="@{/tickets/{id}/notes(id=${ticket.id})}" class="noteslist-btn">View List</a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- ! BACK IN LIST -->
            <div class="mt-4">
                <a th:href="@{/tickets}" class="btn btn-secondary back-btn">Back</a>
            </div>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    <th:block th:replace="~{fragments/footer :: scripts}"></th:block>
</body>

</html>