<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Note Ticket')}"></head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('Ticket Platform')}"></nav>


    <main>
        <div class="container mt-4">
            <h1>Note's Ticket:</h1> <span><strong>
                <a th:href="@{'/tickets/' + ${ticket.id}}" class="btn btn-danger mt-3 mb-3"
                        th:text="${ticket.title}"></a>
            </strong></span>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Author</th>
                        <th>Creation Date</th>
                        <th>Text</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="note : ${notes}">
                        <td th:text="${note.id}">Author</td>
                        <td th:text="${note.author.fullName}">Author</td>
                        <td th:text="${#temporals.format(note.creationDate, 'dd/MM/yyyy HH:mm')}">Creation Date</td>
                        <td th:text="${note.text}">Note Text</td>
                    </tr>
                </tbody>
            </table>
            <h2 class="text-center text-primary" th:unless="${notes.size() > 0}">
                There are no notes available at this moment
            </h2>
            <a th:href="@{/tickets/{id}/notes/create(id=${ticket.id})}" class="search-btn">
               Add New Note
            </a>
            
            <a th:href="@{'/tickets/' + ${ticket.id}}" class="back-btn">Back</a>

        </div>
    </main>

    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    <th:block th:replace="~{fragments/footer :: scripts}"></th:block>
</body>

</html>