<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(Operators)"></head>

<body>
    <header>
        <nav th:replace="~{fragments/navbar :: navbar('Ticket Platform')}"></nav>
    </header>

    <div class="container mt-5">
        <h2><strong>Operator:</strong> <span th:text="${operator.fullName}"></span></h2>
        <h4><strong>Availability:</strong><span th:text="${isAvailable} ? ' Yes ' : ' No '"
                th:classappend="${isAvailable} ? 'text-success' : 'text-danger'"></span></h4>
        <h3>Assigned Tickets:</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ticket : ${operator.assignedTickets}">
                    <td th:text="${ticket.id}"></td>
                    <td th:text="${ticket.title}"></td>
                    <td th:switch="${ticket.status}">
                        <span th:case="todo" class="badge todo">To Do</span>
                        <span th:case="inprogress" class="badge inprogress">In Progress</span>
                        <span th:case="closed" class="badge closed">Closed</span>
                    </td>
                </tr>

                <tr th:if="${#lists.isEmpty(operator.assignedTickets)}">
                    <td colspan="3" class="text-left fw-bold">
                        There are no tickets assigned to this operator.
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="mt-4">
            <a th:href="@{/operators}" class="btn btn-secondary back-btn">Back in List</a>
        </div>

    </div>
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    <th:block th:replace="~{fragments/footer :: scripts}"></th:block>
</body>

</html>